@{
    ViewData["Title"] = "Login";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Account/Login.css" asp-append-version="true" />
}


<div class="auth-container">
    <form id="loginForm">
        <h2>BarbersClub</h2>
        <p class="text-muted">Bem-vindo de volta!</p>

        <div class="mb-3 text-start">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="seuemail@exemplo.com" required>
        </div>

        <div class="mb-4 text-start">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control" id="password" placeholder="Sua senha" required>
        </div>

        <div id="errorMessage" class="error-message mb-3"></div>

        <button type="submit" class="btn btn-primary w-100 d-flex align-items-center justify-content-center">
            <span>Entrar</span>
        </button>

        <a href="@Url.Action("Register", "Account")" class="auth-link">Ainda não tem uma conta? Cadastre-se</a>
    </form>
</div>

@section Scripts {
    <script src="~/js/Account/Login.js" asp-append-version="true"></script>
}