@model BarberClub.DTOs.UserRegisterRequest
@{
    ViewData["Title"] = "Registro";
    Layout = "_Layout";
}
<div class="container d-flex align-items-center justify-content-center auth-container py-5">
    <div class="col-md-6 col-lg-5 col-xl-4">
        <div class="form-container">
            <h1 class="text-center mb-4">CRIE SUA CONTA</h1>
            
            <form id="registerForm" method="post">
                <div id="registerError" class="alert alert-danger d-none" role="alert"></div>
                
                <div class="mb-3">
                    </div>
                </form>
        </div>
    </div>
</div>